<!DOCTYPE html>
<html>
<head>
    <title>Google App Datastore</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CSE 6331 - Cloud Computing</a>
        </div>
        <div class="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="#">Avinash Chavan 1001415890</a>
        </div>
    </div>
</nav>
<div class="container">
    <h3>Choose file to upload</h3>
        <div style="color:#0000FF">{{msg}}</div>
    <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
    <input type="text" name="uploadbucketname" id="uploadbucketname"/>
            <input id="file-picker" type="file" name="file">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right" >Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </form>

<hr>
<h3>Listing files in a Bucket</h3>
<form action="listfiles" method="post">

    <input type="text" name="bucketname" id="bucketname"/>
        <div class="form-group">
         <button type="submit" id="dispalyfiles" name="displayfiles" class="btn btn-primary" >Display</button>
         </div>
    <ul>
        {% for obj in object_list %}
        <li>{{ obj }}</li>
        {% endfor %}
    </ul>
</form>

        <h3>Downloading file from Bucket name:</h3>
        <div style="color:#0000FF">{{downmsg}}</div>
<form action="/download_file" method="POST"  >
        <div class="form-group">
        <input type="text" id="downbucketname" placeholder = "Enter Bucket Name" name="downbucketname"/>
         </div>
        
        <div class="form-group">
        <input type="text"  placeholder = "Enter File Name" id="downloadingfilename" name="downloadingfilename">
         </div>
        
        <div class="form-group">
         <button type="submit" class="btn btn-primary" >Download</button>
         </div>
</form>
</div>
</body>
</html>